<a href='https://www.hexnbit.com/'> <img src='hexnbit.png'/> </a>

# Introduction to Pandas

Pandas is and Open Source Python Library developed using NumPy.
It provides fast, flexible, and expressive data structures designed to make working with “relational” or “labeled” data both easy. It aims to be the fundamental high-level building block for doing practical, real world data analysis in Python. 

Typical use cases inlude:-
  - Finance
  - Statistics
  - Social science
  - Engineering etc

Pandas acts as Excel of the Python language which we can use for data analysis.

Pandas is licensed under the BSD license.
You may refer the Pandas documentation if required: https://pandas.pydata.org/docs/

## Installation

*We hope that you have installed Python using the Anaconda distribution. Although, Pandas should be pre-bundled with Anaconda. In case you face any issues while importing the module in the futher steps, you may install Pandas by opening your terminal(for MAC Users) or ANACONDA Command Prompt(for Windows Users) and type the following command*
    
    conda install pandas
    
For installation steps related to other platforms/environments, please refer to [Pandas' official installation steps](https://pandas.pydata.org/docs/getting_started/index.html)

# Pandas Data Structures
There are 2 types of Pandas Data Structures:
1. Series
2. DataFrames

## Series
Pandas Series is a one-dimensional labelled array capable of holding any data type.

In [1]:
import numpy as np    # importing NumPy as np
import pandas as pd   # importing Pandas as pd

### Creating Pandas Series using Lists

In [2]:
fruits = ['Apples','Bananas','Kiwis']   # creating a list of fruits
quantity = [10,20,30]                    # creating a list of quantity

In [3]:
fruit_inventory=pd.Series(quantity,index=fruits)   # Creating a Pandas Series from list
print(type(fruit_inventory))
(fruit_inventory)

<class 'pandas.core.series.Series'>

Apples     10
Bananas    20
Kiwis      30
dtype: int64

In [4]:
print(fruit_inventory['Apples'])    # Printing data with index 'Apples'

10

In [5]:
print(fruit_inventory.index)   # Printing all index of fruit_inventory

Index(['Apples', 'Bananas', 'Kiwis'], dtype='object')

In [6]:
print(fruit_inventory.values)  # Printing all values from fruit_inventory

[10 20 30]

In [7]:
print(fruit_inventory.mean())  # Printing mean of all values of fruit_inventory

20.0

In [8]:
print(fruit_inventory.min())   # Printing minimum of all values of fruit_inventory

10

In [9]:
#Series Iterations
for ind,val in fruit_inventory.iteritems():
    print(ind,val)

Apples 10
Bananas 20
Kiwis 30

### Creating Pandas Series from Dictionary

In [10]:
fruit_dictionary = {'Apples':10,'Bananas':20,'Kiwis':30}   # Dictionary
print(type(fruit_dictionary))
print(pd.Series(fruit_dictionary))                         # Creating Pandas Series from Dictionary
# Pandas will automatically extract the Keys of Dictionary and use them and Labels

<class 'dict'>
Apples     10
Bananas    20
Kiwis      30
dtype: int64

### Creating Pandas Series from NumPy array

In [11]:
num_array=np.array([44,55,66])   # creating numpy array
print(type(num_array))             # printing numpy data type
print(num_array)

<class 'numpy.ndarray'>
[44 55 66]

In [12]:
num_series=pd.Series(num_array)        # creating Pandas Series from NumPy array
print(type(num_series))
print(num_series)

<class 'pandas.core.series.Series'>
0    44
1    55
2    66
dtype: int32

In [13]:
print(num_series[1])   # printing data using the index

55

Pandas Series can even contain different types of data. For example

In [14]:
new_data=["Hex","N","Bit"]      # List containing String Data
print(pd.Series(data=new_data)) # Creating Pandas Series with List of String Data

0    Hex
1      N
2    Bit
dtype: object

In [15]:
# Arithmetic using two series
ser1=pd.Series([1,2,3,5],[0,1,2,4])
ser2=pd.Series([4,5,6],[0,1,2])
print(ser2+ser1)

0    5.0
1    7.0
2    9.0
4    NaN
dtype: float64